

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* color: var(--primary-color);
    background-color: (--tertiary-color); */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
/* header design */
header{
background-image: linear-gradient(to right, #7EC8E3,#0000FF,#000C66,#050A30);
text-align: center;
color: white;
padding: 10px;
margin: 5px;
}

textarea{
    width: 85%;
}

.btn {
    background-color: #7EC8E3;
    border: #7EC8E3;
    margin: 5px;
    width: 80%;
    text-align: center;
    color: #0000FF;
    border-bottom: #050A30 solid 3px;
    margin-bottom: 10px;
    
}

.btn:hover {
    font-size: 20px;
    background-color:#0000FF ;
    color: #7EC8E3;
   
  }
#savedBtn{
padding-left: 0;
padding-right: 0;
}
.low {
    background-color: rgb(41, 141, 41);
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.moderate{
    background-color: yellow;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.high{
    background-color: orange;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.very-high{
    background-color: rgb(201, 61, 84);
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.extreme{
    background-color: rgb(144, 70, 204);
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: -5px;
}
